{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>About me</h1>
    <br>
    <p>My name is Raja Yadav and I am currently pursuing my education in 11th grade at Kv No.1 Kpa. I've noticed that many
        people use third-party applications to download YouTube videos, which can be dangerous as they often contain viruses
        along with the videos.</p>
    <p>This realization inspired me to create a solution a website called "RajaTubeGrab.com," designed with the sole
        purpose
        of allowing users to download unlimited YouTube videos and audio for free. The platform does not contain any
        advertisements or require users to log in, ensuring a safe and hassle-free experience.</p>
    <p>I developed this website using only Python to provide a secure space where anyone can freely access and download
        their desired content without any risks.</p>
    <p>RajaTubeGrab.com is my endeavor to create a safe and convenient environment for video and audio enthusiasts to enjoy
        their favorite content without any compromises.</p>
    <br>
    <div style="text-align: center;">
        <h2>Thank You 😀</h2>
    </div>
{% endblock content %}